/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* Common Classes */

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* Button Styles */

.button-primary {
  background-color: #30b868;
  border: 1px solid #30b868;
  color: white;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}

.button-primary:hover {
  background-color: transparent;
  border: 1px solid white;
}

.button-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 500;
  display: inline-block;
}

.button-outline:hover {
  border: 1px solid #30b868;
  background-color: #30b868;
}

/* Header Area */

header {
  padding: 10px 0;
}

nav ul li a {
  font-weight: 500;
  color: black;
}

nav ul {
  gap: 30px;
}

header .button-primary:hover {
  border: 1px solid #30b868;
  color: #30b868;
}

/* Hero Area */
.hero {
  height: 600px;
  background-image: url(./assets/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.hero__content {
  width: 50%;
  text-align: center;
  flex-direction: column;
  gap: 25px;
}

.hero__badge {
  background-color: white;
  color: #30b868;
  padding: 6px 12px;
  border-radius: 15px;
  gap: 10px;
  width: fit-content;
}

.hero__badge-dot {
  width: 14px;
  height: 14px;
  background-color: #4fe68e;
  border-radius: 50%;
}

.hero__badge-dot i {
  font-size: 6px;
}

.hero__badge p {
  color: #30b868;
}

.hero__content h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
}

.hero__content h1 span {
  color: #30b868;
}

.hero__content p {
  color: white;
  line-height: 30px;
}

.hero__buttons {
  gap: 16px;
}

/* Problems Section */
.problems {
  margin: 0 auto;
  text-align: center;
  background-color: #fbfbfb;
  padding-bottom: 20px;
}

.problems__header {
  padding-top: 40px;
}

.problems__header h2 {
  font-size: 48px;
  color: #001931;
  padding-bottom: 10px;
}

.problems__header p {
  color: #627382;
}

.problems__container {
  flex-direction: column;
  gap: 44px;
}

.problems__cards {
  gap: 24px;
}

.problems__card {
  gap: 16px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  padding: 20px;
}

.problems__card-icon {
  background-color: #f95555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.problems__card h3 {
  font-size: 24px;
  color: #001931;
}

.problems__card p {
  color: #627382;
}

/* Solution Section */
.solution {
  gap: 60px;
  padding: 120px 0;
}

.solution__image img {
  width: 500px;
  height: 500px;
}

.solution__content {
  flex-direction: column;
  gap: 20px;
}

.solution__content h6 {
  color: #30b868;
  font-size: 16px;
}

.solution__content h2 {
  font-size: 48px;
  color: #001931;
}

.solution__content p {
  color: #627382;
}

.solution__content ul {
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
}

.solution__content ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
