/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* Common Classes */

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* Button Styles */

.button-primary {
  background-color: #30b868;
  border: 1px solid #30b868;
  color: white;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}

.button-primary:hover {
  background-color: transparent;
  border: 1px solid white;
}

.button-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 500;
  display: inline-block;
}

.button-outline:hover {
  border: 1px solid #30b868;
  background-color: #30b868;
}

/* Header Area */

header {
  padding: 10px 0;
}

nav ul li a {
  font-weight: 500;
  color: black;
}

nav ul {
  gap: 30px;
}

header .button-primary:hover {
  border: 1px solid #30b868;
  color: #30b868;
}

/* Hero Area */
.hero {
  height: 600px;
  background-image: url(./assets/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.hero__content {
  width: 50%;
  text-align: center;
  flex-direction: column;
  gap: 25px;
}

.hero__badge {
  background-color: white;
  color: #30b868;
  padding: 6px 12px;
  border-radius: 15px;
  gap: 10px;
  width: fit-content;
}

.hero__badge-dot {
  width: 14px;
  height: 14px;
  background-color: #4fe68e;
  border-radius: 50%;
}

.hero__badge-dot i {
  font-size: 6px;
}

.hero__badge p {
  color: #30b868;
}

.hero__content h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
}

.hero__content h1 span {
  color: #30b868;
}

.hero__content p {
  color: white;
  line-height: 30px;
}

.hero__buttons {
  gap: 16px;
}
